body {
	background-color: #2b2b2a ;
	font-family: 'Poiret One', cursive;
    background-image: url("images/img2.png");
}

.div1 {
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-top: 01%;
	padding-top: 5%;
	border: 1px ;
}




.header1 {
	margin-right: 75%;
	margin-top: 4%;
	color:  #d4d4aa;
	font-size: 3.5em;

}

